[Unit]
Description="Redis Gateway for active Hpguppi_daq Instances"
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/home/cosmic/redis_gateway_service.conf
ExecStart=/usr/local/bin/hashpipe_redis_gateway.rb -s comsic-head -i 0,1 -f
Restart=always
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
