[Unit]
Description=The CASPER-FPGA remoteobjects Server
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/home/cosmic/remoteobjects_server.conf
Restart=always
Type=simple
ExecStart=/home/cosmic/py3-venv/bin/rest_serve_remoteobjects.py --fpgfile $INITIAL_FPGA_FILEPATH --program
StandardOutput=append:/home/cosmic/logs/remoteobjects_server.out
StandardError=append:/home/cosmic/logs/remoteobjects_server.err

[Install]
WantedBy=multi-user.target
