[Unit]
Description=Initialisation of the redis server
After=network.target
Requires=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/cosmic/anaconda3/envs/cosmic_vla/bin/redis-server --notify-keyspace-events KEA --protected-mode no
StandardOutput=append://home/cosmic/logs/redis_server.log
StandardError=append://home/cosmic/logs/redis_server.log

[Install]
WantedBy=multi-user.target